.MlistContainer {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.MlistContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.MdescriptionSearch > p {
  flex: 1;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  font-weight: normal;
  color: rgb(53, 51, 51);
  text-shadow: 2px 2px 4px #04040456, -2px -2px 4px #0c0c0c0e;
}

.MdescriptionSearch > h1 {
  flex: 1;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  font-weight: normal;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #04040456, -2px -2px 4px #0000001e;
}

.MlistWrapper {
  background-color: #a4928256;
  border-radius: 10px;
  padding: 10px;
  height: 330px;
  width: 1100px;
  position: relative;
  left: 30%;
  top: -30px;
  z-index: 1;
}
.MlistSearch {
  flex: 1;
  background-color: #afa49bef;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 10px;
  height: max-content;
}

.MlsTitle {
  font-size: 20px;
  color: #060606f5;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #040404, -2px -2px 4px #aa9999;
}

.MlsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.MlsItem > label {
  font-size: 12px;
}

.MlsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.MlistSearch > button {
  padding: 10px;
  background-color: #0b0b0bf6;
  color: rgb(255, 252, 252);
  border: none;
  width: 100%;
  font-weight: 00;
  cursor: pointer;
}
.MlistSearch > button:hover {
  background-color: #575454;
}

.MlistResult {
  flex: 3;
}

.MlistResultError {
  color: rgb(126, 105, 105);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 600px;
}

@media only screen and (max-width: 768px) {
  .MlistWrapper {
    width: 90%;
  }
}


.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid rgba(235, 210, 210, 0.2);
  border-top-color: #c8b3b3;
  animation: spin 1s ease-in-out infinite;
  display: flex;
  justify-content: center;
  margin-left: 600px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
