.no-underline {
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  text-transform: none;
  letter-spacing: 5px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.subtext {
  font-size: 14px;
  letter-spacing: 1.3px;
  font-weight: normal;
  color: #777777;
  display: block;
  margin-top: -6px;
  margin-left: -80px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.subtext::before {
  content: "";
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.subtext::after {
  content: "";
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid black;
  margin-left: 10px;
}

.navItems {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navButton {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-left: auto;
  cursor: pointer;
}

.navButton:hover {
  background-color: #555555;
}

.navButton:first-of-type {
  margin-left: auto;
  margin-right: 10px;
}

.navbar__username {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  text-transform: none;
  letter-spacing: 5px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin-left: 570px;
}

.error {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #92927f;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  z-index: 9999;
}
